body {
    background-color: #c6bdce;
}

.custom-header {
    background-color: indigo; /* Custom header color */
}

.custom-button {
    background-color: rgb(75, 39, 133); /* Custom button color */
    border-color: rgb(75, 39, 133);
    &:hover {
        background-color: indigo /* Darker shade for hover state */
    }
    margin-left: 4px;
}
.chat-messages {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.navbar-custom {
    background-color: indigo;
}
.nav-link.active {
    background-color: indigo;
    color: white !important;
    font-weight: bold;
}
.nav-link {
    font-size: medium;
    color: whitesmoke;
    &:hover {
        color: rgb(149, 104, 221);
    }
}

/* .navbar {
    width: 100%;
    text-align: center;
  } */
  
  /* Center the navbar title */
  .navbar h4 {
    /* display: inline-block; */
    margin-right: -50px;
    color: white;
    font-size: 1.5rem;
  }

  /* Align the 'Sign out' link to the right */
  .navbar-nav {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

/* @media (max-width: 768px) {
    .navbar-custom h4 {
        font-size: 1.2rem;
    }
} */