body {
    background-color: #f8f9fa;
}

.custom-header {
    background-color: indigo; /* Custom header color */
}

.custom-button {
    background-color: blueviolet; /* Custom button color */
    border-color: blueviolet;
    &:hover {
        background-color: purple /* Darker shade for hover state */
    }
}
.chat-messages {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
}
